{% extends 'base.html' %}
{% block content %}
<h1>Todo List</h1>
<div id="events">
    {% for event in DB %}
        <div id="task">
            <h3>{{event[0]}} {{event[1]}}</h3> <button>Remove</button>
        </div>
    {% endfor %}
</div>

<form action="/handle">
    <p>Enter a task: </p>
    <input type="text" name="action" placeholder="Task">
    <p>Date: </p>
    <input type="text" name="time" placeholder="MM/DD/YY">
    <p>Prority</p>
    <select name="priority">
        <option>Low</option>
        <option>Medium</option>
        <option>High</option>
    </select>
    <button>Submit</button>
</form>
{% endblock %}

