{% extends 'base.html' %}
{% block content %}
<h1>Todo List</h1>
<div id="events">
    <table>
        <tr>
            <th>Task</th>
            <th>Time</th>
            <th>Priority</th>
        </tr>
        {% for event in DB %}
        <tr>
            <td>{{ event[0] }}</td>
            <td>{{ event[1] }}</td>
            <td>{{ event[2] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

<form action="/handle">
    <p>Enter a task: </p>
    <input type="text" name="action" placeholder="Task">
    <p>Time: </p>
    <input type="text" name="time" placeholder="00:00">
    <p>Prority</p>
    <select name="priority">
        <option>Low</option>
        <option>Medium</option>
        <option>High</option>
    </select>
    <button>Submit</button>
</form>
{% endblock %}

